/*Created by Steve Smith 5.22.15*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: #08c9ff;
}

/*Top banner divs*/
#topbanner {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    background-color: #000000;
    z-index: 20;
}

#tbleft {
    float: left;
    margin-left: 2%;
    width: 55%;
    padding-top: 15px;
    padding-left: 5%;
}

#logo {
    width: 30%;
}

#tbright {
    float: right;
    width: 30%;
    margin-top: 15px;
    margin-right: 4%;
    text-align: right;
}

/* Content Divs */
#wrapper {
    width: 100%;
    margin-top: 71px;
    overflow: hidden;
}

#container1 {
    width: 50%;
    margin: 30px auto 0 auto;
    padding: 15px 0 20px 15px;
    overflow: hidden;
    background-color: #f0f0f0;
    box-shadow: 2px 5px 5px #616161;
    border: solid 5px #d1d1d1;
}

/*Bottom Banner */
#botbanner {
    clear: both;
    width: 100%;
}

.botfix {
    position: fixed;
    bottom: 0;
    z-index: 999999;
}

/* html & input styles */
img {
    max-width: 100%;
}

input[type="checkbox"] {
    width: 25px;
    height: 25px;
}

input[type="text"] {
    display: block;
    margin: 0;
    width: 95%;
    height: 35px;
    padding: 3px 10px 3px 10px;
    font-size: 18px;
    box-shadow: none;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
}
input[type="text"]:focus {
    outline: none;
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
}

input.rad[type="radio"] {
    width: 20px !important;
    height: 20px !important;
}

select {
    margin: 0;
    background: #ffffff;
    width: 95%;
    padding: 3px 10px 3px 10px;
    font-size: 18px;
    height: 43px;
    border-radius: 0;
    box-shadow: none;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
select:focus {
    outline: none;
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
}

/* non-specific classes */
.error {
    color: #ff0000;
}

.btn {
    font-family: 'Lato', sans-serif;
    background-color: #08c9ff;
    font-size: 16px;
    padding: 5px 20px 5px 20px;
    border: solid #ffffff 1px;
    text-decoration: none;
    color: #ffffff;
    -webkit-appearance: none;
    margin: 0;
}

.btn:hover {
    text-decoration: none;
    background-color: #08A8DD;
}

.horiz li {
    display: inline;
    padding-right: 1%;
}

.tbnav li {
    display: inline;
    text-align: right;
    padding-left: 15px;
    color: #ffffff;
}

/*.trpics {*/
    /*width: 20%;*/
    /*padding-right: 20px;*/
/*}*/
/*.symbolpics {*/
    /*width: 5%;*/
/*}*/

/*.bkgndshade {*/
    /*background-color: rgba(112, 112, 112, 0.50);*/
/*}*/

/*.sizebr {*/
    /*line-height: 20px;*/
/*}*/

/* links */
a.reg:link {
    text-decoration: none;
    color: #f5ff15;
}
a.reg:visited {
    text-decoration: none;
    color: #f5ff15;
}
a.reg:hover {
    text-decoration: none;
    color: #2FA0C1;
}

a.tblink:link {
    text-decoration: none;
    color: #ffffff;
}
a.tblink:visited {
    text-decoration: none;
    color: #ffffff;
}
a.tblink:hover {
    text-decoration: none;
    color: #2FA0C1;
}

a.bot:link {
    text-decoration: none;
    color: #ffffff;
}
a.bot:visited {
    text-decoration: none;
    color: #ffffff;
}
a.bot:hover {
    text-decoration: none;
    color: #fdff09;
}

/* Fonts */
h1 {
    padding: 0;
    margin: 0;
    font-size: 28px;
    letter-spacing: 4px;
}

h2 {
    padding: 0;
    margin: 0;
    font-size: 18px;
    letter-spacing: 3px;
}

h3 {
    padding: 0;
    margin: 0;
    font-size: 14px;
    letter-spacing: 2px;
}

h5 {
    font-size: 10px;
    font-style: italic;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

/*scrollbars*/
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(8,201,255,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(8,201,255,0.4);
}